bidict==0.21.3
click==8.0.1
coverage==5.5
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.8
Flask==2.0.1
Flask-SocketIO==5.1.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mutagen==1.45.1
packaging==21.3
psycopg2==2.9.1
pyparsing==3.0.6
python-engineio==4.2.1
python-socketio==5.4.0
python-vlc==3.0.12118
SQLAlchemy==1.4.23
tinytag==1.6.0
toml==0.10.2
Werkzeug==2.0.1
