body {
    background: linear-gradient(#000000, #252525);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    /*overflow: hidden;*/
} 

.buttonscontrol {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}




@media(max-width: 767px){
/*.btncontrol{

  display: inline-block;
  padding: 3em;
  background-color: rgb(52, 167, 202);
  color: rgb(255, 254, 254);
  border-radius: 50%;
  border-color: transparent;
}

.btncontrol:hover{
  transform: scale(1.1);
  color: rgb(255, 250, 250);
  text-shadow: 0px 0px 4px #ffffff;
}*//*
.usuarioIcon{
  font-size: 5em;
}*/
.btnselect{
  margin-top: 1em;
}
.volumeControls{
  display: flex;
    justify-content: center;
}
.volumeRange{
  -webkit-appearance: none;
  width: 65%;
  outline: none;
  height: 10px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 10px;
}
.volumeRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 10px;
  width: 15px;
  background: #148F77;
  cursor: pointer;
  box-shadow: -415px 0 0 400px #148F77;
}


.iconlist{
  font-size: 3em;
  color: Dodgerblue;
}
.divcamps{
  padding-right: 3em;
  padding-top: 2em;
}

.textocerrar{
  text-align: right;
}
.btndesplegar{
  font-size: 2em;
  color: whitesmoke;
  margin-top: 5%;
}

.btndesplegar:hover{

  transform: scale(1.1);
  color: rgb(255, 250, 250);
  text-shadow: 0px 0px 4px #ffffff;
}

.tablascr{
  height: 22rem;
  overflow-y: auto;
  overflow-x: hidden;
}

  .boton{
    display: block;
  }

  
  .divlogoout{
    display: flex;
    justify-content: center;
  }

  .btniniciar{
    display: flex;
    justify-content: center;
  }
  .navlogo{
    display: flex;
    justify-content: center;
  }

  .duration-time{
    position: absolute;
    margin-left: 85%;
  }
  .current-time{
    position: absolute;
    margin-left: 0%;
  }
  .barseparator{
    display: none;
  }
  .song-timer{
    margin-left: 4px;
    font-size: 10px;
    padding-bottom: 15px;

  }
  .volumeControls{
    font-size: 10px;
  }

 
  .btn-controlsa{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .btncontrol{

    display: inline-block;
    padding: 2em;
    background-color: rgb(52, 167, 202);
    color: rgb(255, 254, 254);
    border-radius: 50%;
    border-color: transparent;
  }

  .btncontrol:hover{
    transform: scale(1.1);
    color: rgb(255, 250, 250);
    text-shadow: 0px 0px 4px #ffffff;
  }

  .btnpassong{

    margin: 1em;
    padding: 1em;
    background-color: rgb(52, 167, 202);
    color:transparent;
    border-radius: 50%;
    border-color: transparent;
  }
  .btnpassong:hover{
    transform: scale(1.1);
    color: rgba(255, 250, 250, 0);
    text-shadow: 0px 0px 4px #ffffff;
  }
  .centrado{
    display: block;
    margin: auto; 
    width: 150px;
    height: 150px;
  }

  .duration{
    margin-left: -24px;
    margin-right: -9px;
  }

}

/*TABLETS*/
@media(min-width: 768px) and (max-width: 991px){
  .btn-controlsa{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  .btncontrol{

    display: inline-block;
    padding: 3em;
    background-color: rgb(52, 167, 202);
    color: rgb(255, 254, 254);
    border-radius: 50%;
    border-color: transparent;
  }
  
  .btncontrol:hover{
    transform: scale(1.1);
    color: rgb(255, 250, 250);
    text-shadow: 0px 0px 4px #ffffff;
  }
  
  .btnpassong{
  
    margin: 1em;
    padding: 2em;
    background-color: rgb(52, 167, 202);
    color:transparent;
    border-radius: 50%;
    border-color: transparent;
  }
  .btnpassong:hover{
    transform: scale(1.1);
    color: rgba(255, 250, 250, 0);
    text-shadow: 0px 0px 4px #ffffff;
  }

  .volumeRange{
    -webkit-appearance: none;
    width: 65%;
    outline: none;
    height: 10px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 10px;
  }
  .volumeRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 15px;
    background: #148F77;
    cursor: pointer;
    box-shadow: -415px 0 0 400px #148F77;
  }
  .duration-time{
    position: absolute;
    margin-left: 85%;
  }
  .current-time{
    position: absolute;
    margin-left: 0%;
  }
  .volumeControls{
    display: flex;
      justify-content: center;
  }

}

/*ESCRITORIO*/
@media(min-width: 992px){
  
  

  .volumeRange{
  -webkit-appearance: none;
  width: 65%;
  outline: none;
  height: 10px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 10px;
  }
  .volumeRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 15px;
    background: #148F77;
    cursor: pointer;
    box-shadow: -415px 0 0 400px #148F77;
  }
  
  .tablascr{
    height: 32rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tabladatos{
    visibility: visible;
  }
  .btncontrol{

    display: inline-block;
    padding: 3em;
    background-color: rgb(52, 167, 202);
    color: rgb(255, 254, 254);
    border-radius: 50%;
    border-color: transparent;
  }
  
  .btncontrol:hover{
    transform: scale(1.1);
    color: rgb(255, 250, 250);
    text-shadow: 0px 0px 4px #ffffff;
  }
  
  .btnpassong{
  
    margin: 1em;
    padding: 2em;
    background-color: rgb(52, 167, 202);
    color:transparent;
    border-radius: 50%;
    border-color: transparent;
  }
  .btnpassong:hover{
    transform: scale(1.1);
    color: rgba(255, 250, 250, 0);
    text-shadow: 0px 0px 4px #ffffff;
  }
  .centrado{
    display: block; 
    margin: auto; 
    width: 350px;
    height: 350px;
  }
  #divcampid{
    margin-bottom: 2em;
    margin-top: 2em;
    padding-right: 5em;
  }

  .divcamps{
    margin-bottom: 1em;
    margin-top: 2em;
  }

}
/*
.btnpassong{

  margin: 1em;
  padding: 2em;
  background-color: rgb(52, 167, 202);
  color:transparent;
  border-radius: 50%;
  border-color: transparent;
}
.btnpassong:hover{
  transform: scale(1.1);
  color: rgba(255, 250, 250, 0);
  text-shadow: 0px 0px 4px #ffffff;
}
*/




.tablascr::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.tablascr::-webkit-scrollbar-track {
  background: rgb(238, 238, 238);        /* color of the tracking area */
  border-radius: 20px;

}

.tablascr::-webkit-scrollbar-thumb {
  background-color: rgb(121, 121, 121);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(0, 90, 150);  /* creates padding around scroll thumb */
 
}
.tablascr::-webkit-scrollbar-thumb:hover {
  background-color: rgb(46, 46, 46);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(0, 90, 150);  /* creates padding around scroll thumb */
}

.single-song{
  cursor: default;
}

.iconvol{
  color: white;
  font-size: 2em;
}
#volume-icon{
    color: white;
    font-size: 1em;
}


  
#volume-icon:hover{
  text-shadow: 0px 0px 4px #ffffff;
}


.iconvol:hover{
  text-shadow: 0px 0px 4px #ffffff;
}

.usuarioIcon{
  font-size: 130%;
}

#iconapp{
  color: white;
  font-size: 2em;
}
#play:hover{
  text-shadow: 0px 0px 4px #ffffff;
}
#next:hover{
  text-shadow: 0px 0px 4px #ffffff;
}
#prev:hover{
  text-shadow: 0px 0px 4px #ffffff;
}



.infoCanciones{
  text-align: center;
}

.navbarcontrol{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 15px 1px whitesmoke;
  background-color: black;
}

.repr-now{
  text-align: center;
}



.duration-slider {
	-webkit-appearance: none;
	width: 95%;
	outline: none;
	height: 10px;
	margin: 0 15px;
	overflow: hidden;
	border-radius: 10px;
}
.duration-slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 10px;
	width: 15px;
	background: #148F77;
	cursor: pointer;
	box-shadow: -415px 0 0 400px #148F77;
  
}


.linksclass:link {
  text-decoration: none;
  color: white;
}

.linksclass:visited {
  text-decoration: none;
  color: white;
}

.linksclass:hover {
  text-decoration: none;
  color: rgb(216, 216, 216);
}

.linksclass:active {
  text-decoration: none;
}

.logoutclass{
  color: white;
  text-decoration: none;
}

.logoutclass:hover{
  color: rgb(168, 168, 168);
  text-decoration: none;
}
.logoutclass:active{
  color: white(168, 168, 168);
  text-decoration: none;
}
.logoutclass:link{
  color: white;
  text-decoration: none;
}