{% extends "base.html" %}

{% block title %}Iniciar como controlador{% endblock %}

{% block content %}
<div class="container">
   <div class="row d-flex justify-content-md-center vh-100"> <!--justify center alinea el row al centro, vh-100 utiliza el 100% del contenido en pantalla, lo alinea verticalmente con flex  -->
       <div class="col-lg-5 col-md-7 col-12 align-self-center"> <!-- align-center alinea verticalmente al centro -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Iniciar como controlador</h2>
                    <h6 class="mt-4">Ingresa a tu cuenta para poder usar este servicio</h6>
                    <form action="" method="post" class="card-text">
                        <div class="mb-3">
                            <label for="usuarioInput" class="form-label">Usuario</label>
                            <input type="text" name="username" id="usuarioInput" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="passInput" class="form-label">Contraseña</label>
                            <input type="password" name="password" id="passInput" class="form-control">
                        </div>
                        <div class="d-flex justify-content-md-center mt-4 btniniciar"> <!--mt controla el margen superior-->
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                        <hr>
                        <p>Si no tenes cuenta podes <a href="/register">registrarte</a></p>
                        <p>O tambien podes  <a href="/login">iniciar sesión</a> normalmente</p>
                    </form>
                </div>
            </div>
       </div>
   </div>
</div>

{% endblock %}