{% extends "newbase.html" %}

{% block title %}Player{% endblock %}

{% block content %}



{% if messje %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-light text-center mt-5">{{messje}}</h1>
    </div>
  </div>
</div>

{% elif newmsg %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-light text-center mt-5">{{newmsg}}</h1>
    </div>
    <div class="col-12 d-flex justify-content-md-center">
      <a href="/directorios" class="btn btn-success btn-controlsa">Seleccionar un directorio</a>
    </div>
  </div>
</div>



{% else %}

<div class="container-fluid">
  <div class="row">
    <div class="col-6 d-lg-none d-xl-block d-xl-none d-xxl-block">
      <span class="btndesplegar">
        <i class="fas fa-stream"></i>
      </span>
    </div>
    
    
    <div class="col-lg-6 col-12 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block columna" id="contenedorprincipal" >
      <div class="row d-flex justify-content-md-center vh100">
        <div class="tablascr align-self-center">
          <div class="tabladatos">
            
          <table class="table table-dark table-hover tabla mt-2">
            
            <tbody class="tabla-body">
             <h4 class="d-flex justify-content-md-center text-light mt-2">Canciones</h4>

            </tbody>       
                <!-- Playlist Item -->
              <!-- <div class="playlist-div imagediv">-->
                  <!-- <div class="playlist-s">
                    <span class="song-index">1</span>
                    <td><p class="single-song text-light">Song one</p>
                  </div></td>-->
                <!--</div>-->
          </table>
        </div>
        </div>
      </div>
  </div>
    <div class="col-lg-6 col-12 columna2">
      <div>
        <h5 class="repr-now text-light mt-3">Nada reproduciendo</h5> 
      </div>
        <img class="centrado" src="{{url_for('static', filename='images/music.png')}}">
        <div class="infoCanciones">
          <h2 class="title text-light">Music Name</h2>
          <h4 class="artista text-light">Music Name</h4>  
          <h5 class="album text-light">Music Name</h5>  
        </div>
     
    </div>
  </div> 
</div>
{% endif %}
{% endblock %}